/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// Usar configuraciones de Vuetify
@use 'vuetify/settings' with (
  $color-pack: false,
  $button-border-radius: 5.3px,
  $button-background: #1D60F8,
  $button-color: white,
);

a {
  color: #1D60F8 !important;
  text-decoration: underline;
  text-decoration-color: #1D60F8;
}

.v-text-field .v-input__control {
  background-color: white !important;
  // border: 1px solid #DDE1E9 !important;
  // border-radius: 5px !important;
}

