/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// ELEVATIONS WITH SHADOWS
@use 'vuetify/settings' with (
  $color-pack: false,
  $card-elevation: 1,
  $border-radius-root: .5rem, 
);

@each $elevation, $shadow in (
  0: 'none',
  1: '0 1px 2px rgba(0, 0, 0, 0.12)',
  2: '0 3px 6px rgba(0, 0, 0, 0.16)',
  3: '0 10px 20px rgba(0, 0, 0, 0.19)',
  4: '0 14px 28px rgba(0, 0, 0, 0.25)',
  5: '0 19px 38px rgba(0, 0, 0, 0.3)',
) {
  .elevation-#{$elevation} {
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: #{$shadow} !important;
  }
}